pw/branches/r1117/Tools/Billing/ZzimaProject/ZZServiceClient/ServiceReferences/ZZServiceReference/ZZServiceWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://zzima.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://zzima.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://zzima.com/">
      <s:element name="A_GenerateHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="A_GenerateHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A_GenerateHashResult" type="tns:A_TestHash" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="A_TestHash">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="bin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="A_ToBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="A_ToBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A_ToBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="A_FromBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="A_FromBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A_FromBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:RegisterUserReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterUserReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="userReferal" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceRequest" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="crc" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="fromServiceName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserResult" type="tns:RegisterUserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterUserResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:AuthorizeUserReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthorizeUserReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AuthorizeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizeUserResult" type="tns:AuthorizeUserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthorizeUserResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AccountReplenish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:AccountReplenishmentReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountReplenishmentReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="paymentSystem" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AccountReplenishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountReplenishResult" type="tns:AccountReplenishmentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountReplenishmentResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="EnrollAccWithAward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:EnrollAccWithAwardReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnrollAccWithAwardReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="award" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="paymentSystem" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="EnrollAccWithAwardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnrollAccWithAwardResult" type="tns:EnrollAccWithAwardResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnrollAccWithAwardResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ConfirmWriteOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ConfirmWriteOffReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfirmWriteOffReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="reserveId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ConfirmWriteOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmWriteOffResult" type="tns:ConfirmWriteOffResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfirmWriteOffResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ReserveAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ReserveAmountReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReserveAmountReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ReserveAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReserveAmountResult" type="tns:ReserveAmountResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReserveAmountResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="reserveId" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AccountWriteOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:AccountWriteOffReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountWriteOffReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AccountWriteOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountWriteOffResult" type="tns:AccountWriteOffResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountWriteOffResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="RemoveAmountWithReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:AccountWriteOffReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAmountWithRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveAmountWithRealResult" type="tns:RemoveAmountWithRealResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RemoveAmountWithRealResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="realAmount" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="MoneyTransefer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:MoneyTranseferReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MoneyTranseferReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="srcUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="srcAccount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dstUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dstAccount" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="MoneyTranseferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoneyTranseferResult" type="tns:MoneyTranseferResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MoneyTranseferResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServicesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetServicesListReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServicesListReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServicesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServicesListResult" type="tns:GetServicesListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServicesListResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="services" type="tns:ArrayOfServiceShortInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceShortInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceShortInfo" nillable="true" type="tns:ServiceShortInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceShortInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="subscribed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubscribeService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SubscribeServiceReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubscribeServiceReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="servicePassword" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SubscribeServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeServiceResult" type="tns:SubscribeServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubscribeServiceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="accauntName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServiceGuidName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetServiceGuidNameReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServiceGuidNameReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServiceGuidNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceGuidNameResult" type="tns:GetServiceGuidNameResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServiceGuidNameResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="accauntName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UnsubscribeService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:UnsubscribeServiceReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnsubscribeServiceReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UnsubscribeServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnsubscribeServiceResult" type="tns:UnsubscribeServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnsubscribeServiceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServiceSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetServiceSettingsReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServiceSettingsReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServiceSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceSettingsResult" type="tns:GetServiceSettingsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetServiceSettingsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="serviceSettings" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetServiceSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SetServiceSettingsReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetServiceSettingsReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="serviceSettings" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="servicePassword" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetServiceSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetServiceSettingsResult" type="tns:SetServiceSettingsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetServiceSettingsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="BanUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:BanUserReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BanUserReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BanUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BanUserResult" type="tns:BanUserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BanUserResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="UnbanUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:UnbanUserReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnbanUserReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UnbanUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnbanUserResult" type="tns:UnbanUserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnbanUserResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetUserProfileReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserProfileReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileResult" type="tns:GetUserProfileResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserProfileResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:ProfileInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProfileInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="creationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partner" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="agreementAccepted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="banSn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ByIdGetUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ByIdGetUserProfileReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ByIdGetUserProfileReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ByIdGetUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ByIdGetUserProfileResult" type="tns:ByIdGetUserProfileResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ByIdGetUserProfileResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:ByIdProfileInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ByIdProfileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="creationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partner" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="agreementAccepted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="banSn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SetUserProfileReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetUserProfileReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="agreementAccepted" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserProfileResult" type="tns:SetUserProfileResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetUserProfileResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="SetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SetUserPasswordReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetUserPasswordReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserPasswordResult" type="tns:SetUserPasswordResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetUserPasswordResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetUserBalanceReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserBalanceReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserBalanceResult" type="tns:GetUserBalanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserBalanceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserBalanceEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetUserBalanceExReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserBalanceExReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserBalanceExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserBalanceExResult" type="tns:GetUserBalanceExResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserBalanceExResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="detailedBalance" type="tns:ArrayOfOperationWriteOff" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfOperationWriteOff">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OperationWriteOff" nillable="true" type="tns:OperationWriteOff" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OperationWriteOff">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="paymentSystemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="WriteOffEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:WriteOffExReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WriteOffExReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="WriteOffExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteOffExResult" type="tns:WriteOffExResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WriteOffExResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="operationId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetOperationDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetOperationDetailsReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetOperationDetailsReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="operationId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetOperationDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperationDetailsResult" type="tns:GetOperationDetailsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetOperationDetailsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="writeOffs" type="tns:ArrayOfOperationWriteOff" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAwardAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetAwardAmountReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAwardAmountReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAwardAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAwardAmountResult" type="tns:GetAwardAmountResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAwardAmountResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PromoActivate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:PromoActivateReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PromoActivateReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="promoCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PromoActivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PromoActivateResult" type="tns:PromoActivateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PromoActivateResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserPaymentsHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetUserPaymentsHistoryReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserPaymentsHistoryReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserPaymentsHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPaymentsHistoryResult" type="tns:GetUserPaymentsHistoryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserPaymentsHistoryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="payments" type="tns:ArrayOfUserPaymentsHistoryRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUserPaymentsHistoryRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserPaymentsHistoryRecord" nillable="true" type="tns:UserPaymentsHistoryRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserPaymentsHistoryRecord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="paymentSystem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserExpensesHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetUserExpensesHistoryReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserExpensesHistoryReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserExpensesHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserExpensesHistoryResult" type="tns:GetUserExpensesHistoryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserExpensesHistoryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="expenses" type="tns:ArrayOfUserExpensesHistoryRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUserExpensesHistoryRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserExpensesHistoryRecord" nillable="true" type="tns:UserExpensesHistoryRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserExpensesHistoryRecord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindUserByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:FindUserByEmailReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FindUserByEmailReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FindUserByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserByEmailResult" type="tns:FindUserByEmailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FindUserByEmailResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userAndPartners" type="tns:ArrayOfUsernameAndPartnerRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUsernameAndPartnerRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsernameAndPartnerRecord" nillable="true" type="tns:UsernameAndPartnerRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsernameAndPartnerRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partnerName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZeroAwardMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ZeroAwardMoneyReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZeroAwardMoneyReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="users" type="tns:ArrayOfString" />
              <s:element minOccurs="1" maxOccurs="1" name="zeroAll" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZeroAwardMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZeroAwardMoneyResult" type="tns:ZeroAwardMoneyResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZeroAwardMoneyResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="zeroedAmount" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetValuePSDetailed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetValuePSDetailedReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetValuePSDetailedReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ps" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetValuePSDetailedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValuePSDetailedResult" type="tns:GetValuePSDetailedResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetValuePSDetailedResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="A_GenerateHashSoapIn">
    <wsdl:part name="parameters" element="tns:A_GenerateHash" />
  </wsdl:message>
  <wsdl:message name="A_GenerateHashSoapOut">
    <wsdl:part name="parameters" element="tns:A_GenerateHashResponse" />
  </wsdl:message>
  <wsdl:message name="A_ToBase64SoapIn">
    <wsdl:part name="parameters" element="tns:A_ToBase64" />
  </wsdl:message>
  <wsdl:message name="A_ToBase64SoapOut">
    <wsdl:part name="parameters" element="tns:A_ToBase64Response" />
  </wsdl:message>
  <wsdl:message name="A_FromBase64SoapIn">
    <wsdl:part name="parameters" element="tns:A_FromBase64" />
  </wsdl:message>
  <wsdl:message name="A_FromBase64SoapOut">
    <wsdl:part name="parameters" element="tns:A_FromBase64Response" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizeUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthorizeUser" />
  </wsdl:message>
  <wsdl:message name="AuthorizeUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizeUserResponse" />
  </wsdl:message>
  <wsdl:message name="AccountReplenishSoapIn">
    <wsdl:part name="parameters" element="tns:AccountReplenish" />
  </wsdl:message>
  <wsdl:message name="AccountReplenishSoapOut">
    <wsdl:part name="parameters" element="tns:AccountReplenishResponse" />
  </wsdl:message>
  <wsdl:message name="EnrollAccWithAwardSoapIn">
    <wsdl:part name="parameters" element="tns:EnrollAccWithAward" />
  </wsdl:message>
  <wsdl:message name="EnrollAccWithAwardSoapOut">
    <wsdl:part name="parameters" element="tns:EnrollAccWithAwardResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmWriteOffSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmWriteOff" />
  </wsdl:message>
  <wsdl:message name="ConfirmWriteOffSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmWriteOffResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveAmountSoapIn">
    <wsdl:part name="parameters" element="tns:ReserveAmount" />
  </wsdl:message>
  <wsdl:message name="ReserveAmountSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveAmountResponse" />
  </wsdl:message>
  <wsdl:message name="AccountWriteOffSoapIn">
    <wsdl:part name="parameters" element="tns:AccountWriteOff" />
  </wsdl:message>
  <wsdl:message name="AccountWriteOffSoapOut">
    <wsdl:part name="parameters" element="tns:AccountWriteOffResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAmountWithRealSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAmountWithReal" />
  </wsdl:message>
  <wsdl:message name="RemoveAmountWithRealSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAmountWithRealResponse" />
  </wsdl:message>
  <wsdl:message name="MoneyTranseferSoapIn">
    <wsdl:part name="parameters" element="tns:MoneyTransefer" />
  </wsdl:message>
  <wsdl:message name="MoneyTranseferSoapOut">
    <wsdl:part name="parameters" element="tns:MoneyTranseferResponse" />
  </wsdl:message>
  <wsdl:message name="GetServicesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetServicesList" />
  </wsdl:message>
  <wsdl:message name="GetServicesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetServicesListResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeServiceSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeService" />
  </wsdl:message>
  <wsdl:message name="SubscribeServiceSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceGuidNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceGuidName" />
  </wsdl:message>
  <wsdl:message name="GetServiceGuidNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceGuidNameResponse" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeServiceSoapIn">
    <wsdl:part name="parameters" element="tns:UnsubscribeService" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeServiceSoapOut">
    <wsdl:part name="parameters" element="tns:UnsubscribeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceSettings" />
  </wsdl:message>
  <wsdl:message name="GetServiceSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SetServiceSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SetServiceSettings" />
  </wsdl:message>
  <wsdl:message name="SetServiceSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SetServiceSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="BanUserSoapIn">
    <wsdl:part name="parameters" element="tns:BanUser" />
  </wsdl:message>
  <wsdl:message name="BanUserSoapOut">
    <wsdl:part name="parameters" element="tns:BanUserResponse" />
  </wsdl:message>
  <wsdl:message name="UnbanUserSoapIn">
    <wsdl:part name="parameters" element="tns:UnbanUser" />
  </wsdl:message>
  <wsdl:message name="UnbanUserSoapOut">
    <wsdl:part name="parameters" element="tns:UnbanUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ByIdGetUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:ByIdGetUserProfile" />
  </wsdl:message>
  <wsdl:message name="ByIdGetUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:ByIdGetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserProfile" />
  </wsdl:message>
  <wsdl:message name="SetUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserPassword" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserBalance" />
  </wsdl:message>
  <wsdl:message name="GetUserBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserBalanceExSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserBalanceEx" />
  </wsdl:message>
  <wsdl:message name="GetUserBalanceExSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserBalanceExResponse" />
  </wsdl:message>
  <wsdl:message name="WriteOffExSoapIn">
    <wsdl:part name="parameters" element="tns:WriteOffEx" />
  </wsdl:message>
  <wsdl:message name="WriteOffExSoapOut">
    <wsdl:part name="parameters" element="tns:WriteOffExResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperationDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperationDetails" />
  </wsdl:message>
  <wsdl:message name="GetOperationDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAwardAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAwardAmount" />
  </wsdl:message>
  <wsdl:message name="GetAwardAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAwardAmountResponse" />
  </wsdl:message>
  <wsdl:message name="PromoActivateSoapIn">
    <wsdl:part name="parameters" element="tns:PromoActivate" />
  </wsdl:message>
  <wsdl:message name="PromoActivateSoapOut">
    <wsdl:part name="parameters" element="tns:PromoActivateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPaymentsHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPaymentsHistory" />
  </wsdl:message>
  <wsdl:message name="GetUserPaymentsHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPaymentsHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserExpensesHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserExpensesHistory" />
  </wsdl:message>
  <wsdl:message name="GetUserExpensesHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserExpensesHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserByEmail" />
  </wsdl:message>
  <wsdl:message name="FindUserByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ZeroAwardMoneySoapIn">
    <wsdl:part name="parameters" element="tns:ZeroAwardMoney" />
  </wsdl:message>
  <wsdl:message name="ZeroAwardMoneySoapOut">
    <wsdl:part name="parameters" element="tns:ZeroAwardMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuePSDetailedSoapIn">
    <wsdl:part name="parameters" element="tns:GetValuePSDetailed" />
  </wsdl:message>
  <wsdl:message name="GetValuePSDetailedSoapOut">
    <wsdl:part name="parameters" element="tns:GetValuePSDetailedResponse" />
  </wsdl:message>
  <wsdl:portType name="ZZServiceWebSoap">
    <wsdl:operation name="A_GenerateHash">
      <wsdl:input message="tns:A_GenerateHashSoapIn" />
      <wsdl:output message="tns:A_GenerateHashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="A_ToBase64">
      <wsdl:input message="tns:A_ToBase64SoapIn" />
      <wsdl:output message="tns:A_ToBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="A_FromBase64">
      <wsdl:input message="tns:A_FromBase64SoapIn" />
      <wsdl:output message="tns:A_FromBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <wsdl:input message="tns:AuthorizeUserSoapIn" />
      <wsdl:output message="tns:AuthorizeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountReplenish">
      <wsdl:input message="tns:AccountReplenishSoapIn" />
      <wsdl:output message="tns:AccountReplenishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnrollAccWithAward">
      <wsdl:input message="tns:EnrollAccWithAwardSoapIn" />
      <wsdl:output message="tns:EnrollAccWithAwardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmWriteOff">
      <wsdl:input message="tns:ConfirmWriteOffSoapIn" />
      <wsdl:output message="tns:ConfirmWriteOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReserveAmount">
      <wsdl:input message="tns:ReserveAmountSoapIn" />
      <wsdl:output message="tns:ReserveAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountWriteOff">
      <wsdl:input message="tns:AccountWriteOffSoapIn" />
      <wsdl:output message="tns:AccountWriteOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAmountWithReal">
      <wsdl:input message="tns:RemoveAmountWithRealSoapIn" />
      <wsdl:output message="tns:RemoveAmountWithRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoneyTransefer">
      <wsdl:input message="tns:MoneyTranseferSoapIn" />
      <wsdl:output message="tns:MoneyTranseferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServicesList">
      <wsdl:input message="tns:GetServicesListSoapIn" />
      <wsdl:output message="tns:GetServicesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeService">
      <wsdl:input message="tns:SubscribeServiceSoapIn" />
      <wsdl:output message="tns:SubscribeServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceGuidName">
      <wsdl:input message="tns:GetServiceGuidNameSoapIn" />
      <wsdl:output message="tns:GetServiceGuidNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeService">
      <wsdl:input message="tns:UnsubscribeServiceSoapIn" />
      <wsdl:output message="tns:UnsubscribeServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceSettings">
      <wsdl:input message="tns:GetServiceSettingsSoapIn" />
      <wsdl:output message="tns:GetServiceSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServiceSettings">
      <wsdl:input message="tns:SetServiceSettingsSoapIn" />
      <wsdl:output message="tns:SetServiceSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BanUser">
      <wsdl:input message="tns:BanUserSoapIn" />
      <wsdl:output message="tns:BanUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnbanUser">
      <wsdl:input message="tns:UnbanUserSoapIn" />
      <wsdl:output message="tns:UnbanUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input message="tns:GetUserProfileSoapIn" />
      <wsdl:output message="tns:GetUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByIdGetUserProfile">
      <wsdl:input message="tns:ByIdGetUserProfileSoapIn" />
      <wsdl:output message="tns:ByIdGetUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <wsdl:input message="tns:SetUserProfileSoapIn" />
      <wsdl:output message="tns:SetUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPassword">
      <wsdl:input message="tns:SetUserPasswordSoapIn" />
      <wsdl:output message="tns:SetUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBalance">
      <wsdl:input message="tns:GetUserBalanceSoapIn" />
      <wsdl:output message="tns:GetUserBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBalanceEx">
      <wsdl:input message="tns:GetUserBalanceExSoapIn" />
      <wsdl:output message="tns:GetUserBalanceExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteOffEx">
      <wsdl:input message="tns:WriteOffExSoapIn" />
      <wsdl:output message="tns:WriteOffExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationDetails">
      <wsdl:input message="tns:GetOperationDetailsSoapIn" />
      <wsdl:output message="tns:GetOperationDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAwardAmount">
      <wsdl:input message="tns:GetAwardAmountSoapIn" />
      <wsdl:output message="tns:GetAwardAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PromoActivate">
      <wsdl:input message="tns:PromoActivateSoapIn" />
      <wsdl:output message="tns:PromoActivateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPaymentsHistory">
      <wsdl:input message="tns:GetUserPaymentsHistorySoapIn" />
      <wsdl:output message="tns:GetUserPaymentsHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserExpensesHistory">
      <wsdl:input message="tns:GetUserExpensesHistorySoapIn" />
      <wsdl:output message="tns:GetUserExpensesHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByEmail">
      <wsdl:input message="tns:FindUserByEmailSoapIn" />
      <wsdl:output message="tns:FindUserByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZeroAwardMoney">
      <wsdl:input message="tns:ZeroAwardMoneySoapIn" />
      <wsdl:output message="tns:ZeroAwardMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValuePSDetailed">
      <wsdl:input message="tns:GetValuePSDetailedSoapIn" />
      <wsdl:output message="tns:GetValuePSDetailedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZZServiceWebSoap" type="tns:ZZServiceWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="A_GenerateHash">
      <soap:operation soapAction="http://zzima.com/A_GenerateHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="A_ToBase64">
      <soap:operation soapAction="http://zzima.com/A_ToBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="A_FromBase64">
      <soap:operation soapAction="http://zzima.com/A_FromBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://zzima.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <soap:operation soapAction="http://zzima.com/AuthorizeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountReplenish">
      <soap:operation soapAction="http://zzima.com/AccountReplenish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollAccWithAward">
      <soap:operation soapAction="http://zzima.com/EnrollAccWithAward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmWriteOff">
      <soap:operation soapAction="http://zzima.com/ConfirmWriteOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveAmount">
      <soap:operation soapAction="http://zzima.com/ReserveAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountWriteOff">
      <soap:operation soapAction="http://zzima.com/AccountWriteOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAmountWithReal">
      <soap:operation soapAction="http://zzima.com/RemoveAmountWithReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyTransefer">
      <soap:operation soapAction="http://zzima.com/MoneyTransefer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicesList">
      <soap:operation soapAction="http://zzima.com/GetServicesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeService">
      <soap:operation soapAction="http://zzima.com/SubscribeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceGuidName">
      <soap:operation soapAction="http://zzima.com/GetServiceGuidName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeService">
      <soap:operation soapAction="http://zzima.com/UnsubscribeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceSettings">
      <soap:operation soapAction="http://zzima.com/GetServiceSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceSettings">
      <soap:operation soapAction="http://zzima.com/SetServiceSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanUser">
      <soap:operation soapAction="http://zzima.com/BanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnbanUser">
      <soap:operation soapAction="http://zzima.com/UnbanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://zzima.com/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByIdGetUserProfile">
      <soap:operation soapAction="http://zzima.com/ByIdGetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <soap:operation soapAction="http://zzima.com/SetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPassword">
      <soap:operation soapAction="http://zzima.com/SetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBalance">
      <soap:operation soapAction="http://zzima.com/GetUserBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBalanceEx">
      <soap:operation soapAction="http://zzima.com/GetUserBalanceEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOffEx">
      <soap:operation soapAction="http://zzima.com/WriteOffEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationDetails">
      <soap:operation soapAction="http://zzima.com/GetOperationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwardAmount">
      <soap:operation soapAction="http://zzima.com/GetAwardAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PromoActivate">
      <soap:operation soapAction="http://zzima.com/PromoActivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPaymentsHistory">
      <soap:operation soapAction="http://zzima.com/GetUserPaymentsHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExpensesHistory">
      <soap:operation soapAction="http://zzima.com/GetUserExpensesHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByEmail">
      <soap:operation soapAction="http://zzima.com/FindUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZeroAwardMoney">
      <soap:operation soapAction="http://zzima.com/ZeroAwardMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuePSDetailed">
      <soap:operation soapAction="http://zzima.com/GetValuePSDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZZServiceWebSoap12" type="tns:ZZServiceWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="A_GenerateHash">
      <soap12:operation soapAction="http://zzima.com/A_GenerateHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="A_ToBase64">
      <soap12:operation soapAction="http://zzima.com/A_ToBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="A_FromBase64">
      <soap12:operation soapAction="http://zzima.com/A_FromBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://zzima.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <soap12:operation soapAction="http://zzima.com/AuthorizeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountReplenish">
      <soap12:operation soapAction="http://zzima.com/AccountReplenish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollAccWithAward">
      <soap12:operation soapAction="http://zzima.com/EnrollAccWithAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmWriteOff">
      <soap12:operation soapAction="http://zzima.com/ConfirmWriteOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveAmount">
      <soap12:operation soapAction="http://zzima.com/ReserveAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountWriteOff">
      <soap12:operation soapAction="http://zzima.com/AccountWriteOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAmountWithReal">
      <soap12:operation soapAction="http://zzima.com/RemoveAmountWithReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyTransefer">
      <soap12:operation soapAction="http://zzima.com/MoneyTransefer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicesList">
      <soap12:operation soapAction="http://zzima.com/GetServicesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeService">
      <soap12:operation soapAction="http://zzima.com/SubscribeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceGuidName">
      <soap12:operation soapAction="http://zzima.com/GetServiceGuidName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeService">
      <soap12:operation soapAction="http://zzima.com/UnsubscribeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceSettings">
      <soap12:operation soapAction="http://zzima.com/GetServiceSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceSettings">
      <soap12:operation soapAction="http://zzima.com/SetServiceSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanUser">
      <soap12:operation soapAction="http://zzima.com/BanUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnbanUser">
      <soap12:operation soapAction="http://zzima.com/UnbanUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://zzima.com/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByIdGetUserProfile">
      <soap12:operation soapAction="http://zzima.com/ByIdGetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <soap12:operation soapAction="http://zzima.com/SetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPassword">
      <soap12:operation soapAction="http://zzima.com/SetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBalance">
      <soap12:operation soapAction="http://zzima.com/GetUserBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBalanceEx">
      <soap12:operation soapAction="http://zzima.com/GetUserBalanceEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOffEx">
      <soap12:operation soapAction="http://zzima.com/WriteOffEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationDetails">
      <soap12:operation soapAction="http://zzima.com/GetOperationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwardAmount">
      <soap12:operation soapAction="http://zzima.com/GetAwardAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PromoActivate">
      <soap12:operation soapAction="http://zzima.com/PromoActivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPaymentsHistory">
      <soap12:operation soapAction="http://zzima.com/GetUserPaymentsHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExpensesHistory">
      <soap12:operation soapAction="http://zzima.com/GetUserExpensesHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByEmail">
      <soap12:operation soapAction="http://zzima.com/FindUserByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZeroAwardMoney">
      <soap12:operation soapAction="http://zzima.com/ZeroAwardMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuePSDetailed">
      <soap12:operation soapAction="http://zzima.com/GetValuePSDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZZServiceWeb">
    <wsdl:port name="ZZServiceWebSoap" binding="tns:ZZServiceWebSoap">
      <soap:address location="http://localhost:8080/API/PL/ZZServiceWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ZZServiceWebSoap12" binding="tns:ZZServiceWebSoap12">
      <soap12:address location="http://localhost:8080/API/PL/ZZServiceWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>